:root {
  --branding-color: #ffc0ca;
  --secondary-color: #fee8d2;
  --heading-font-family: "Playfair Display", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 62px;
}

h3 {
  font-size: 48px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.navigation-link {
  margin-top: 40px;
  justify-content: center;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  margin: 0;
  padding: 100px 20px;
}

.hero p {
  font-weight: bold;
  color: #272142;
  font-size: 36px;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 40px 120px;
}

.content-container h2 {
  font-size: 48px;
  line-height: 130px;
  margin: 0;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  line-height: 26px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.contact-box h3 {
  line-height: 1.5;
}

.contact-box p {
  line-height: 2;
  margin: 10px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-launch {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.fas {
  font-size: 48px;
}

.project-container {
  padding: 70px 60px;
}

.profile {
  max-width: 603px;
  margin: 0 40px;
}

.logo {
  max-height: 50px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 52px;
  margin-left: 22px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.contact-box {
  background-color: var(--secondary-color);
  padding: 24px 56px;
  margin: 0 20px;
  border-radius: 20px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin: 40px 0;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

.skin-img {
  max-width: 500px;
}

.weather-img {
  max-width: 452px;
  margin: 0 20px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }
  .project-container {
    padding: 0;
    text-align: center;
  }

  .profile {
    max-width: 300px;
    margin: 0;
  }

  .content-container {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  .skin-img {
    max-width: 323px;
  }

  .weather-img {
    max-width: 303px;
  }

  footer .email-link {
    font-size: 18px;
    margin: 20px;
  }

  nav li {
    font-size: 14px;
  }
}
